{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>On va lister les utilisateurs</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/citations_frameworked/src/Controller/UtilisateursController.php'|file_link(0) }}">src/Controller/UtilisateursController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/citations_frameworked/templates/utilisateurs/index.html.twig'|file_link(0) }}">templates/utilisateurs/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
